  /* ========================================
    General CSS for all sections
   ======================================== */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	line-height: 1.5;
	font-family: 'Segoe UI', Tahoma, Ge;eva, Verdana, sans-serif;
	font-size:1.2em;
}
html, body{
	height:100%;
	display:flex;
	flex-direction:column;
}
main, #item-content, .content, .product-content{
	flex:1;
}
footer{
	margin-top:auto;
	z-index:0;
}
